
  body {
      position: relative; 
  }
/*Navbar*/
.nav{
 /*background: rgb(10,10,10);*/
 background: transparent;
}
.navbar{
  margin-bottom: 0px !important;
  background-color: transparent;
  transition: all 0.5s;
  /*background: rgb(10,10,10);*/
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default{
  background-color: transparent;
  border-color: transparent; 
  background:transparent;
  text-align: center;
}
.nav li a:hover{
  /*background-color: transparent;*/
}
img{
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;

}
nav .navbar {
  position: absolute;
  top: 100;
  right: 0;
  left: 0;
  z-index: 20;
}
a.navbar-brand {
  padding-top: 0; 
  padding-left: 55px;
}
.navbar-brand img{
  height: 64px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 15px 35px;
  padding-top: 10px;
}
.navbar-nav>li>a {
  padding-top: 16px;
  padding-bottom: 10px;
  line-height: 23px;
  }
.navbar-default .navbar-nav li a {
  color: #FF0000;
  font-size: 20px;
}
.navbar-default .navbar-nav li a {
  color: #000000;
}
.navbar-default .navbar-nav li a:hover {
  color: #ff0000;
}
/*.body-partone{
  padding-top: 20px;
  width: 100%;
  height: 700px;
  background-image: url(../images/room.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}*/
.color-layover{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: -430px;
    left: 0;
    /*background-color: rgba(0,0,0,.7);*/
    z-index: 99;
}
em{
    font-family: "adobe-garamond-pro";
    font-size: 35px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

/*End of NavBar*/
.after-nav{
    background-image: url('../images/04.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    background-attachment: fixed;
    padding: 20%;
    text-align: center;
    font-family: "adobe-garamond-pro";
    color: #fff;
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);*/
}
.welcome{
  text-align: center;
  color: #f0f0f0;
  font-family: "adobe-garamond-pro";
  font-size: 60px;
}
.learn{
  text-align: center;
  color: #f0f0f0;
  font-family: "adobe-garamond-pro";
  font-size: 25px;
}
.part-two, .part-three, .part-four, .part-five, .part-six, .part-seven{
  text-align: center;
  color: rgba(26,26,26,.9);
  font-family: "adobe-garamond-pro";
  font-size: 34px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.personal-bg, .education, .experience, .skills{
  text-align: center;
  font-family: "proxima-nova";
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.6);
}
.projects{
    font-family: "proxima-nova";
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.6);
}
hr{
    margin-left: 80px;
    margin-right: 80px;
}
/*Footer*/
footer{
  height: 200px;
  text-align: center;
  background-color: rgb(38,38,42);
  margin: auto;
  width: 100%;
  background-size: 100% auto;
}
.social{
  padding-top: 30px;
}
.reserved{
  padding-top: 10px;
}
.reserved{
  color: rgba(255,255,255,.4);
  text-align: center;
}
.fa{
  color: white;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:rgb(38,38,42);
} 
 
/*end of footer*/

