html{
    overflow-x: hidden;
}
  body {
      position: relative; 
      width: 100%;
      min-width: 100%;
  }
/*Navbar*/
.nav{
 background: transparent;
}
.navbar{
  margin-bottom: 0px !important;
  background-color: transparent;
  transition: all 0.5s;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default{
  background-color: transparent;
  border-color: transparent; 
  background:transparent;
  text-align: center;
}

img{
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;

}
nav .navbar {
  position: absolute;
  top: 100;
  right: 0;
  left: 0;
  z-index: 20;
}
a.navbar-brand {
  padding-top: 0; 
  padding-left: 55px;
}
.navbar-brand img{
  height: 64px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 15px 35px;
  padding-top: 10px;
}
.navbar-nav>li>a {
  padding-top: 16px;
  padding-bottom: 10px;
  line-height: 23px;
  }
.navbar-default .navbar-nav li a {
  color: #FF0000;
  font-size: 20px;
}
.navbar-default .navbar-nav li a {
  color: #000000;
}
.color-layover{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: -430px;
    left: 0;
    z-index: 99;
}
em{
    font-family: "adobe-garamond-pro";
    font-size: 35px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

/*End of NavBar*/
.after-nav{
    background-image: url('../images/05.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    padding: 20%;
    text-align: center;
    font-family: "adobe-garamond-pro";
    color: #fff;

}
.project-bg{
      /*background-image: url('../images/04.jpg');*/
    /*background-repeat: no-repeat;*/
    background-attachment: inherit;
    background-size: cover;
    background-position: center;
    height: auto;
    /*background-attachment: fixed;*/
    /*padding: 20%;*/
    text-align: center;
    font-family: "adobe-garamond-pro";
    color: #fff;

    background-image: 
      -webkit-radial-gradient(
        top center, ellipse cover, rgba(0, 0, 0, 0.85) 0%,rgba(0,0,0,0.55) 90%
        ),
    url(../images/04.jpg);
}
.welcome{
  text-align: center;
  color: #f0f0f0;
  font-family: "adobe-garamond-pro";
  font-size: 60px;
}
.learn{
  text-align: center;
  color: #f0f0f0;
  font-family: "adobe-garamond-pro";
  font-size: 25px;
}
.part-two, .part-three, .part-four, .part-five, .part-six, .part-seven{
  text-align: center;
  /*color: rgba(26,26,26,.9);*/
  font-family: "adobe-garamond-pro";
  font-size: 34px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.personal-bg, .education, .experience, .skills{
  text-align: center;
  font-family: "proxima-nova";
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.6);
}
.experience{
  padding-bottom: 20px;
}
.projects{
  font-family: "proxima-nova";
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  /*color: rgba(26,26,26,.6);*/
  color: rgb(255,255,255);
  text-align: center;
  padding-bottom: 20px;
}
.projects-v{
   text-align: center;
  font-family: "proxima-nova";
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.6);
}
#center-img{
  text-align: center;
}
.college{
    border: 1px solid #c3c3c3;
    text-align: center;
    opacity: 0.7;
    transition: all 0.8s;
    max-height: 340px;
    margin-bottom: 30px;
}
.college:hover {
    opacity: 1;
    border: 1px solid #222;
}
.img-responsive{
  width: 65% !important;
  margin: 0 auto;
  padding-top: 10px;
}

/*images*/
.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive,
.thumbnail a>img,
.thumbnail>img{
    height: 190px !important;

  }
/*end of images*/

hr{
    margin-left: 80px;
    margin-right: 80px;
}
/*Footer*/
footer{
  height: 200px;
  text-align: center;
  background-color: rgb(38,38,42);
  margin: auto;
  width: 100%;
  background-size: 100% auto;
}
.social{
  padding-top: 30px;
}
.reserved{
  padding-top: 10px;
}
.reserved{
  color: rgba(255,255,255,.4);
  text-align: center;
}
.fa{
  color: white;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:rgb(38,38,42);
} 
 
/*end of footer*/